/* Police */
@font-face {
    font-family: "Raleway_Regular";
    src: url("./static/Raleway-Regular.ttf") format("truetype");
}  
@font-face {
    font-family: "Raleway_SemiBold";
    src: url("./static/Raleway-SemiBold.ttf") format("truetype");
}
@font-face {
    font-family: "Raleway_Thin";
    src: url("Raleway-VariableFont_wght.ttf") format("truetype");
}

/* Général */
*
{
    text-decoration: none;
}

body
{
    font-family: 'Raleway_Regular';
    margin: 0;
}
h1
{   
    font-family: "Raleway_SemiBold";
    margin: 1%;
}
h2
{
    font-family: "Raleway_SemiBold";
    margin: 1%;
}
h3
{
    font-family: "Raleway_SemiBold";
    margin: 0;
}
p
{
    margin: 1% 0 1% 0;
}
a 
{
    text-decoration: none;
    color: black;
}
.HeaderSmartphone
{
    display: none;
}
#BoutonRechercheSmartphone
{
    display: none;
}

/* Header */
header
{
    max-width: 1440px;
    padding: 1%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

    @media screen and (max-width: 425px)
    {
        header
        {
            display: none;
        }
        .HeaderSmartphone
        {
            display: block;
        }
    }

/* Menu de Navigation */

nav
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1%;
}

@media screen and (max-width: 425px)
    {
        .NavSmartphone 
        {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        row-gap: 10%;
        text-align: center;
        font-size: 20px;
        }
    }

nav a
{
    text-decoration: none;
    color: black;
    font-family: "Raleway_Regular";
    padding: 10px;
}

@media screen and (max-width: 425px)
    {
        .Logo
        {
        grid-area: 1 / 1;
        width: 100%;
        }
        .InscrireSmartphone
        {
        grid-area: 1 / 2;
        color: #0065FC;
        font-family: "Raleway_SemiBold";
        }
        .HebergementsSmartphone
        {
        grid-area: 2 / 1;
        border-bottom: solid 2px #F2F2F2;
        }
        .ActivitésSmartphone
        {
        grid-area: 2 / 2;
        border-bottom: solid 2px #F2F2F2;
        }
    }

.NavInscrire
{
    color: #0065FC;
    font-family: "Raleway_SemiBold";
}

nav :hover
{
border-top: solid 2px #0065FC;
}

@media screen and (max-width: 425px)
    {
        .NavSmartphone :hover
        {
        border-bottom: solid 2px #0065FC;
        }
        nav :hover
        {
            border-top: solid 2px transparent;
        }
    }

/* Recherche */
#Recherche
{
    margin: 2% 0 0 0;
    padding: 10px 0px 10px 0px;
    width: 21%;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    font-family: "Raleway_Regular";
}
.fa-map-marker-alt:before
{
    content: "\f3c5";
    padding: 15px 13px 15px 13px;
    background-color: #F2F2F2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
form
{
    max-width: 1440px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1%;
}

@media screen and (max-width: 425px)
    {
        form
        {
            justify-content: center;
        }
    }

#Marseille
{
    padding-top: 12px;
    padding-bottom: 12px;
    font-family: "Raleway_SemiBold";
    font-size: 100%;
    text-align: center;
    border: solid 1px #F2F2F2;
    
}
#BoutonRecherche
{
    background-color: #0065FC;
    color: white;
    font-family: 'Raleway_Regular';
    padding: 12px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 102%;
}
@media screen and (max-width: 425px)
    {
        #BoutonRecherche
        {
            display: none;
        }
        #BoutonRechercheSmartphone
        {
            display: flex;
            background-color: #0065FC;
            border: 0;
            border-radius: 5px;
            color: #ffffff;
            text-decoration: none;
        }
    }

/* Filtres */
#Filtres
{
    max-width: 1440px;
    margin: 1%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

@media screen and (max-width: 425px)
    {
        #Filtres
        {
            flex-direction: column;
            align-items: flex-start;
        }
    }

#ListeFiltres
{
    display: flex;
    justify-content: flex-start;
    list-style: none;
    flex-wrap: wrap;
    padding: 0;
    width: 100%;
}

@media screen and (max-width: 425px)
    {
        #ListeFiltres
        {
            justify-content: flex-start;
            padding: 0;
        }
    }

#ListeFiltres li
{
    border: solid 2px #F2F2F2;
    display: flex;
    align-items: center;
    padding: 0 31px 0px 0px;
    border-radius: 30px;
    width: 100%;
    max-width: fit-content;
    margin: 1%;
}
.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog
{
    color: #0065FC;
}
button
{
    border-radius: 50%;
    padding: 12px;
    margin-right: 15px;
    background-color: #DEEBFF;
    font-size: 21px;
}
#Info
{
    max-width: 1440px;
    margin: 1%;
}
.fa-info:before
{
    content: "\f129";
    padding: 5px 10px 5px 10px;
    border: solid 1px #F2F2F2;
    border-radius: 20px;
    margin-right: 10px;
    color: #0065FC;
}

/* MAIN : ARTICLE HERBERGEMENTS A MARSEILLE + ASIDE POPULAIRES */
#Main
{
    max-width: 1440px;
    display: flex;
}
.AfficherPlus
{
    margin: 5% 0 1% 0;
}

/* ARTICLE HEBERGEMENTS A MARSEILLE */
.TitreHebergementsMarseille
{
    margin: 1% 0 1% 0;
}
.Hebergements
{
    padding: 1%;
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 25px;
    margin: 1%;
}
.HebergementsMarseille
{
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(2, 50%);
    grid-column-gap: 4%;
    grid-row-gap: 5%;
    justify-content: center;
    margin: 1%;
}
.HebergementsMarseille a 
{
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 10px 20px 0px rgb(0 0 0 / 30%);
    width: 100%;
    height: 100%;
    padding: 2px;
}
.PhotoHebergement
{ 
    width: 100%;
    height: 100%;
    max-height: 125px;
    border-radius: 20px 20px 0 0;
    image-rendering: pixelated;
    object-fit: cover;
}
.DescriptionHebergement
{
    padding: 10px;
}

/* ASIDE - LES PLUS POPULAIRES */
.TitreLesPlusPopulaires
{
    display: flex;
    justify-content: space-between;
    margin: 0;
}
.LesPlusPopulaires
{
    border-radius: 25px;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 15px 0 15px;
    margin: 1%;
}
.AsidePopulaire
{
    border: solid 1px yellow;
    display: flex;
    flex-direction: column;
}
.LesPlusPopulaires a
{
    display: flex;
    max-height: 150px;
    box-shadow: 0px 10px 20px 0px rgb(0 0 0 / 30%);
    border-radius: 20px;
    background-color: white;
    box-sizing: content-box;
    margin: 10px;
}
.PhotoHebergementPopulaire
{
    width: 45%;
    image-rendering: pixelated;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}


/* FOOTER */
footer
{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    margin: 0;
    padding: 0;
    max-width: 1440px;
}
.ListeAPropos, .ListeNosHénergements
{
    margin-right: 15%;
    list-style: none;
    line-height: 25px;
}
.ListeAssistance
{
    list-style: none;
    line-height: 25px;
}

/* Responsive Design - Media Queries */
