@font-face {
    font-family: "Raleway_Regular";
    src: url("./static/Raleway-Regular.ttf") format("truetype");
}  
@font-face {
    font-family: "Raleway_SemiBold";
    src: url("./static/Raleway-SemiBold.ttf") format("truetype");
}
@font-face {
    font-family: "Raleway_Thin";
    src: url("Raleway-VariableFont_wght.ttf") format("truetype");
}

body
{
    margin: 1%;
}

header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

nav a
{
    margin: 0 35px 0 0; /* HDBG */
    padding: 25px 0 0 0;
    text-decoration: none;
    color: black;
    font-family: "Raleway_Regular";
}

.Inscrire
{
    color: #0065FC;
    font-family: "Raleway_SemiBold";
}

nav :hover
{
    border-top: solid 2px #0065FC;
    color: #0065FC;

}

h1
{
    margin: 2% 0 0 0;
    font-family: "Raleway_SemiBold";
}

h2
{
    margin: 0 0 0 0;
    font-family: "Raleway_Thin";
    font-size: 23px;
}

#Recherche
{
    margin: 2% 0 0 0;
    padding: 10px 0px 10px 0px;
    width: 21%;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    font-family: "Raleway_Regular";
}

.fa-map-marker-alt:before
{
    content: "\f3c5";
    padding: 15px 13px 15px 13px;
    background-color: #F2F2F2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

form
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2%;
}

#Marseille
{
    padding-top: 12px;
    padding-bottom: 12px;
    font-family: "Raleway_SemiBold";
    font-size: 100%;
    text-align: center;
    border: solid 1px #F2F2F2;
    
}

#BoutonRecherche
{
    background-color: #0065FC;
    color: white;
    font-family: 'Raleway_Regular';
    padding: 12px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 102%;
}

#Filtres
{
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

h3
{
    font-family: "Raleway_SemiBold";
}

#ListeFiltres
{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    width: inherit;
    font-family: "Raleway_Regular";
}

#ListeFiltres li
{
    border: solid 2px #F2F2F2;
    display: flex;
    align-items: center;
    padding: 0 31px 0px 0px;
    border-radius: 30px;
    margin-right: 70px;
}

.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog
{
    color: #0065FC;
}

button
{
    border-radius: 24px;
    padding: 12px;
    margin-right: 15px;
    background-color: #DEEBFF;
    font-size: 21px;
    border-color: #DEEBFF;
}

#Info
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 33%;
    font-family: "Raleway_Thin";
}

.fa-info:before {
    content: "\f129";
    padding: 5px 10px 5px 10px;
    border: solid 1px #F2F2F2;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
    color: #0065FC;
}

#Hebergements
{
    display: flex;
    height: 700px;
    justify-content: space-between;
}   

.HebergementsMarseille
{
    width: 72%;
    display: grid;
    grid-template-columns: 4% 26% 7% 26% 7% 26% 4%;
    grid-template-rows: 10% 20% 12% 10% 20% 12% 5% 6% 5%;
    border-radius: 25px;
    background-color: #F2F2F2;
}

.PhotoHebergement1
{ 
    grid-column: 2;
    grid-row: 2; width: 100%;
    height: 100%;
    image-rendering: pixelated;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 4px solid white;
}

.DescriptionHebergement1
{
    list-style: none;
    grid-column: 2;
    grid-row: 3;
    background: white;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 0;
    margin: 0%;
    border: 4px solid white;
    width: 100%;
    height: 100%;
}

.PhotoHebergement2
{
    grid-column: 4;
    grid-row: 2;
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 4px solid white;
}

.DescriptionHebergement2
{
    list-style: none;
    grid-column: 4;
    grid-row: 3;
    background: white;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 0;
    margin: 0%;
    border: 4px solid white;
    width: 100%;
    height: 100%;
}

.PhotoHebergement3
{
    grid-column: 6;
    grid-row: 2;
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 4px solid white;
}

.DescriptionHebergement3
{
    list-style: none;
    grid-column: 6;
    grid-row: 3;
    background: white;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 0;
    margin: 0%;
    border: 4px solid white;
    width: 100%;
    height: 100%;
}

.PhotoHebergement4
{
    grid-column: 2;
    grid-row: 5;
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 4px solid white;
}

.DescriptionHebergement4
{
    list-style: none;
    grid-column: 2;
    grid-row: 6;
    background: white;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 0;
    margin: 0%;
    border: 4px solid white;
    width: 100%;
    height: 100%;
}

.PhotoHebergement5
{
    grid-column: 4;
    grid-row: 5;
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 4px solid white;
}

.DescriptionHebergement5
{
    list-style: none;
    grid-column: 4;
    grid-row: 6;
    background: white;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 0;
    margin: 0%;
    border: 4px solid white;
    width: 100%;
    height: 100%;
}

.PhotoHebergement6
{
    grid-column: 6;
    grid-row: 5;
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 4px solid white;
}

.DescriptionHebergement6
{
    list-style: none;
    grid-column: 6;
    grid-row: 6;
    background: white;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 0;
    margin: 0;
    border: 4px solid white;
    width: 100%;
    height: 100%;
}

.TitreHebergementsMarseille
{
    font-family: "Raleway_SemiBold";
    grid-row: 1;
    grid-column-start: 2;
    grid-column-end: 4;
    font-size: 21px;
}

.TitreLesPlusPopulaires
{
    font-family: "Raleway_SemiBold";
    grid-column-start: 2;
    grid-column-end: 4;
    font-size: 21px;
}

.fa-chart-line
{
    grid-row: 2;
    grid-column: 4/5;
}

h4
{
    font-family: "Raleway_SemiBold";
    grid-column: 2;
    grid-row: 8;
}

.LesPlusPopulaires  
{
    width: 26%;
    display: grid;
    grid-template-columns: 5% 35% 51% 8%;
    grid-template-rows: 4% 3% 5% 21% 7% 21% 7% 21%;
    border-radius: 25px;
    background-color: #F2F2F2;
}

.PhotoHebergementPopulaire1
{
    grid-column: 2;
    grid-row: 4;
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 4px solid white;
}

.DescriptionHebergementPopulaire1
{
    grid-column: 3;
    grid-row: 4;
    width: 100%;
    height: 100%;
    list-style: none;
    background-color: white;
    padding: 0;
    margin: 0;
    border: 4px solid white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.PhotoHebergementPopulaire2
{
    grid-column: 2;
    grid-row: 6;
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 4px solid white;
}

.DescriptionHebergementPopulaire2
{
    grid-column: 3;
    grid-row: 6;
    width: 100%;
    height: 100%;
    list-style: none;
    background-color: white;
    padding: 0;
    margin: 0;
    border: 4px solid white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.PhotoHebergementPopulaire3
{
    grid-column: 2;
    grid-row: 8;
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 4px solid white;
}

.DescriptionHebergementPopulaire3
{
    grid-column: 3;
    grid-row: 8;
    width: 100%;
    height: 100%;
    list-style: none;
    background-color: white;
    padding: 0;
    margin: 0;
    border: 4px solid white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
